{{!< default}}
<div class="error-page">
  <div class="error-code">{{statusCode}}</div>
  <p class="error-message">{{message}}</p>
  <a class="error-link" href="{{@site.url}}">&larr; Zurück</a>
</div>
