{{!< default}}
<div class="error-page">
  <div class="error-code">404</div>
  <p class="error-message">Diese Seite gibt es nicht.</p>
  <a class="error-link" href="{{@site.url}}">&larr; Zurück</a>
</div>
